:root {
    --primary: "Inria Serif", serif;
    --accent: "Roboto", sans-serif;
}
* {
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
}
/* header */

header {
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    top: 20px;
    right: 20px;
}

.menu-button {
    width: 50px;
    height: 33px;

    margin: 20px;

    transform: rotate(180deg);
}

.menu-button:hover .menu-button-line:nth-child(1) {
    animation: slide 1s infinite;
}
.menu-button:hover .menu-button-line:nth-child(2) {
    animation: slide 2s infinite;
}
.menu-button:hover .menu-button-line:nth-child(3) {
    animation: slide 1.4s infinite;
}

.menu-button-line {
    height: 4px;
    width: 50px;
    margin-bottom: 10px;
    background: #fff;
    transition: 0.3s;
    transition-timing-function: linear;
}

.menu-button.close .menu-button-line:nth-child(1) {
    background: rgb(216, 137, 52);
    transform: rotate(45deg) translate(10px, 10px);
    transition: 1.2s;
    animation: none;
}
.menu-button.close .menu-button-line:nth-child(2) {
    opacity: 0;
}
.menu-button.close .menu-button-line:nth-child(3) {
    background: rgb(216, 137, 52);
    transform: rotate(-45deg) translate(10px, -10px);
    transition: 1.2s;
    animation: none;
}

@keyframes slide {
    0% {
        width: 100px;
    }

    50% {
        width: 50px;
    }
    100% {
        width: 100px;
    }
}

nav {
    position: absolute;
    top: -1000px;
    right: 60px;

    transition: 1s;
}

nav ul {
    list-style: none;
    display: flex;
}

#nav-ul li {
    margin: 40px;
    width: 120px;
}

#nav-ul li a {
    font-family: var(--primary);
    font-size: 26px;
    font-weight: 600;

    color: rgb(216, 137, 52);

    text-decoration: none;
    display: block;
}

#nav-ul li:hover a {
    color: white;
}

.nav-show {
    visibility: visible;
}

#socials {
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 20px;
    top: 100px;
}

#socials svg {
    height: 50px;
    width: 50px;

    margin-bottom: 20px;

    fill: #fff;

    transition: 1s;
}

#socials svg:hover {
    transform: scale(1.1);
}
/* main */

main {
    overflow: hidden;
}

#landing {
    height: 885px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
            0deg,
            rgba(41, 35, 37, 0.3),
            rgba(41, 35, 37, 0.3)
        ),
        url("/assets/landingPage.jpg");
    background-size: cover;
}

#landing .container {
    padding-bottom: 10rem;
}

#landing h1 {
    height: 200px;

    color: white;

    font-family: var(--accent);
    font-weight: 900;
    font-size: 200px;
    line-height: 200px;
}
#landing h2 {
    color: rgb(216, 137, 52);

    font-family: var(--primary);
    font-size: 1rem;
    text-align: right;
}

/* cards */
#cards {
    height: 885px;
    width: 100%;

    background-color: rgb(219, 220, 221);

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    overflow-x: hidden;
}

#cards #text {
    margin: 10rem;
}

#cards h2 {
    color: rgb(90, 88, 88);

    font-family: var(--accent);
    font-size: 8rem;
}

#cards article {
    width: 30rem;

    color: rgb(90, 88, 88);

    font-size: 20px;
    font-family: var(--primary);
}

#cards article i {
    color: rgb(216, 137, 52);
}

.card {
    padding: 40px 10px;

    position: absolute;

    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "name article";

    transition: 1s ease-in-out;
}

.card:hover {
    transform: translateX(-10px);
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    grid-area: name;
}

.card h3 {
    font-family: var(--accent);
    font-size: 25px;
    writing-mode: tb-rl;
    transform: rotate(-180deg);

    color: rgb(236, 236, 236);

    margin: 0px 15px;

    text-decoration: underline;
}

.card-article {
    grid-area: article;
    padding: 0px 20px;
    height: 100%;
}

.card:nth-child(odd) h3 {
    color: rgb(90, 88, 88);
}

/* card 1 */

#card1 {
    height: 80vh;
    width: 710px;

    background-color: rgb(78, 74, 76);

    position: absolute;
    z-index: 3;

    right: -600px;
    bottom: 0px;
}

#card-article1 {
    height: calc(80vh - 60px);
    width: 100%;

    display: flex;
}

#card1 img {
    width: 400px;
}

#card-article1 article {
    width: 40%;

    padding-right: 15px;

    color: rgb(236, 236, 236);
}

/* card 2 */

#card2 {
    height: 70vh;
    width: 810px;

    background-color: rgb(216, 137, 52);

    position: absolute;
    z-index: 2;

    right: -600px;
    bottom: 0px;
}

#card-article2 {
    height: 100%;
    width: 630px;
}

#card2 img {
    width: 100%;

    margin-top: 40px;
}

#card-article2 article {
    text-align: center;

    width: 100%;
}

/* card 3 */

#card3 {
    height: 60vh;
    width: 910px;

    background-color: rgb(71, 62, 65);

    position: absolute;
    z-index: 1;

    right: 0px;
    bottom: 0px;
}

#card-article3 {
    height: 100%;
    width: 630px;
}

#card3 img {
    width: 100%;
    float: right;

    margin-bottom: 20px;
}

#card-article3 article {
    width: 100%;
    height: 100%;

    text-align: center;

    color: rgb(219, 220, 221);
}

/* values */

#values {
    height: 1100px;
    width: 100%;

    background: linear-gradient(
            35deg,
            rgba(196, 192, 193, 0.541),
            rgba(71, 71, 71, 0.5) 60%
        ),
        url(./assets/woodWork.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.values {
    width: 400px;
    height: 500px;
    margin: 0px 30px;

    padding: 20px;

    display: flex;
    flex-direction: column;

    background-color: rgba(235, 229, 231, 0.541);

    transition: 1s;
}

.values:hover {
    transform: scale(1.07);
    background-color: rgba(235, 229, 231, 0.841);
}

.vl {
    height: 100%;
    width: 0px;
    border-left: 2px solid rgb(112, 113, 114);

    margin: 0px 20px;
}

#values h2 {
    font-family: var(--primary);
    font-size: 110px;

    color: rgb(216, 137, 52);

    margin-top: 40px;
}

#values-text {
    margin-top: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#values-text h3 {
    font-family: var(--accent);
    font-size: 50px;
    text-align: center;

    color: rgb(71, 62, 65);
}

#values-text article {
    font-family: var(--primary);
    font-size: 20px;
    text-align: center;

    color: rgb(71, 62, 65);

    margin-top: 20px;
}

/* testimonies */

#testimonies {
    height: min-content;

    padding: 40px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(238, 238, 238);
}

#testimonies h2 {
    font-family: var(--accent);
    font-size: 100px;

    color: rgb(78, 74, 76);
}

#testimonies-area {
    width: 100%;
    height: 100%;

    padding: 40px 30px;

    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.testimony {
    margin: 20px;
    padding: 20px;

    height: min-content;
    transition: 1s;
}
.testimony:hover {
    transform: scale(1.03);
}

#testimonies .testimony h2 {
    font-size: 24px;
}

#testimonies .tall {
    width: 250px;

    border-left: 1px solid rgb(78, 74, 76);
    border-right: 1px solid rgb(78, 74, 76);
}

#testimonies .tall h2 {
    font-family: var(--primary);
}

#testimonies .wide {
    width: 450px;

    border-top: 1px solid rgb(78, 74, 76);
    border-bottom: 1px solid rgb(78, 74, 76);
}

#testimonies .wide h2 {
    font-family: var(--accent);
}

.testimony p {
    font-size: 16px;

    margin-top: 10px;
}

/* footer */

footer {
    height: 150px;
    width: 100vw;

    background-color: rgb(71, 62, 65);

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    width: 80%;

    margin-top: 30px;

    display: flex;
    justify-content: space-around;
    list-style: none;
}

footer li {
    transition: 2s;
}

footer li:hover {
    transform: scale(1.1);
}

footer a {
    font-family: var(--primary);
    font-size: 40px;

    color: rgb(238, 238, 238);

    transition: 1s;
}

footer li:hover a {
    color: rgb(216, 137, 52);
}

#cBand {
    width: 100%;

    font-family: var(--accent);
    font-size: 16px;
    font-weight: 500;

    color: rgb(238, 238, 238);

    margin-top: 50px;
    padding-left: 20px;
}
